# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# configuracion
.env

# package
package-lock.json
package.json

# directorios
/public

